*.py[cod]
*.db-journal
python/env/python-3.5/
python/env/python-3.6/
python/core_rc.py
python/dist/
python/build/
__pycache__/
python/resources/python/
CMakeLists.txt.user
/python/resources/ui/python
.idea
/setup/*.exe
python-3.6_bak
/docs/openimu_fileformat/OpenIMU_FileFormat.architect~
python-3.7
python-3.10
/python/OpenIMU.spec
.DS_Store
*.dmg
python-3.11
build
python-3.12
